body{
    margin:0;
    color:#40514E;
    text-align: center;
    font-family: 'Merriweather', serif;
    
}

h1{
    color:#66BFBF;
    margin:50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;  /*90px/16=5.625rem*/
    
}
h2{
    color:#66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size:2.5rem; /*40px=2.5rem*/
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
}
p{
    margin:auto;
    line-height: 2;
}
.p1{
    text-decoration: underline;
}
hr{
    border:dotted #EAF6F6 6px;
    border-bottom:none;
    width:5%;
    margin:100px auto;
}
.intro{
    width:30%;
    margin:auto;
}

.outro{
    width:30%;
    margin:40px auto 60px;
}

.top-container{
   background-color: #E4F9F5;
   position: relative;
   margin:0; 
   padding-top: 100px;
   
}

.middle-container{
    margin:100px 0;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

a{
    color:white;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color:#FDFF00;
}
.copyright{
    color: white;
    font-size: 0.75rem;
    padding: 20px 0;
}
.top-cloud{
    position:absolute;
    left:850px;
    top:40px;
}

.bottom-cloud{
    position: absolute;
    bottom:300px;
    left: 200px;
}

.profile img{

    height: 200px;
    width:200px;
}

.skill-row{
    width:50%;
    margin: 100px auto 100px auto;
    text-align: left;
}


.skill-img{
    height: 25%;
    width: 25%;
    float:left;
    margin-right: 30px;
}
.challenge{
    height: 25%;
    width: 25%;
    float:right;
    margin-left:30px;
    padding-top: 40px;
   
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }